# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- commonly used libraries used by Data Scientists
- Data Science Tools

Some of the popular languages that Data Scientists use are:
- Python
- Julia
- Scala

Some of the commonly used libraries used by Data Scientists include:
- Matplotlib
- Pandas
- NumPy

| Data Science Tools |
|---|
| TensorFlow |
| Scikit-learn |
| Matplotlib |rithms.

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
import numpy as np

In [4]:
time_in_minutes = 200
hours = time_in_minutes / 60
print(hours)

3.3333333333333335

## Author
Shekhar