# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Commonly used libraries used by Data Scientists
- Data Science Tools

Some of the popular languages that Data Scientists use are:
- Python
- Julia
- SQL
- Scala
- R

Some of the commonly used libraries used by Data Scientists include:
- TensorFlow
- PyTorch
- NumPy
- Matplotlib
- SciKit-Learn

| Data Science Tools |
|---|
| Jupyter Notebook |
| Python |
| Apache Hadoop |rithms.

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply and then add integers

In [10]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [11]:
import numpy as np

In [12]:
time_in_minutes = 200
hours = time_in_minutes / 60
print(hours)

3.3333333333333335

## Author
Shekhar